beautifulsoup4==4.13.4
certifi==2025.7.14
charset-normalizer==3.4.2
et_xmlfile==2.0.0
idna==3.10
iniconfig==2.1.0
lxml==6.0.0
numpy==2.2.4
openpyxl==3.1.5
packaging==25.0
pandas==2.2.3
pluggy==1.6.0
Pygments==2.19.2
pytest==8.4.1
python-dateutil==2.9.0.post0
pytz==2025.1
requests==2.32.4
six==1.17.0
soupsieve==2.7
tqdm==4.67.1
typing_extensions==4.14.1
tzdata==2025.1
urllib3==2.5.0
xlrd==2.0.1
